.bng-color {
    background-color: #f5f7fa;
}

.main-heading {
    color: #183b56;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 60px;
}

.card-background {
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}

.card-heading {
    color: #183b56;
    font-weight: bold;
    font-size: 32px;
    padding: 12px;
}

.watch-img {
    width: 70%;
    border-radius: 15px;
}

.Card-paragraph {
    color: #1f2933;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.See-paragraph {
    color: orange;
    font-weight: bold;
    font-size: 23px;
    padding-left: 15px;
}

.tv-img {
    border-radius: 20px;
    width: 90%;
    text-align: center;
}